@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");

.container-header {
  display: flex;
  width: 1320px;
  margin: auto;
  padding: 20px 0px;
  justify-content: space-between;
  align-items: center;

  .logo {
    color: #000;
    font-size: 28px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 14px;
  }

  .icons {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    color: #464646;
    &:hover {
      cursor: pointer;
    }
  }
}
