@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

.wrapper {
  width: 100%;
  height: 480px;
  flex-shrink: 0;
  position: relative;
}
.banner {
  object-fit: cover;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%),
    url('./img/main-banner.png'), lightgray 0px -1084.455px / 100% 529.903% no-repeat;
  width: 100%;
}
h1 {
  width: 584px;
  position: absolute;
  left: 100px;
  bottom: 52px;
  color: var(--50, #fafafa);
  font-size: 48px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  background: var(--100, #f4f4f4);

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    button {
      all: unset;
      display: flex;
      align-items: center;
      gap: 8px;
      color: #000;

      /* Bold/Callout */
      font-size: 16px;
      font-family: Raleway;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: -0.051px;
    }
  }
  .items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      '. . . .'
      '. . . .'
      '. . . .';
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;

    .item {
      position: relative;
      display: flex;
      width: 295px;
      height: 360px;
      padding-bottom: 0px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      background: #fff;

      .icon-favorite {
        position: absolute;
        right: 20px;
        top: 20px;
      }

      img {
        object-fit: cover;
        width: 255px;
        height: 255px;
      }

      .description {
        display: flex;
        padding: 0px 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        align-self: stretch;

        h4 {
          margin: 0;
          color: var(--black, #0b0b0b);

          /* Caption 1 */
          font-size: 16px;
          font-family: Raleway;
          font-style: normal;
          font-weight: 600;
          line-height: 120%;
        }

        p {
          margin: 0;
          color: var(--800, #575757);

          /* Caption 2 */
          font-size: 14px;
          font-family: Raleway;
          font-style: normal;
          font-weight: 600;
          line-height: 120%;
          letter-spacing: 0.01px;
        }

        h5 {
          margin: 0;
          color: var(--black, #0b0b0b);

          /* Callout */
          font-size: 20px;
          font-family: Prompt;
          font-style: normal;
          font-weight: 600;
          line-height: 21px;
          letter-spacing: -0.064px;
          font-variant-numeric: proportional-nums;
        }
      }
    }

    button {
      all: unset;
      display: flex;
      width: 295px;
      height: 48px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background: var(--900, #313131);
      color: var(--white, #fafafa);

      /* Bold/Callout */
      font-size: 16px;
      font-family: Raleway;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: -0.051px;
      &:hover {
        cursor: pointer;
        background: var(--900, #414141);
      }
    }
  }
}
