@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap");

.wrapper {
  width: 100%;
  height: 480px;
  flex-shrink: 0;
  position: relative;
}
.banner {
  object-fit: cover;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("./img/main-banner.png"),
    lightgray 0px -1084.455px / 100% 529.903% no-repeat;
  width: 100%;
}
h1 {
  width: 584px;
  position: absolute;
  left: 100px;
  bottom: 52px;
  color: var(--50, #fafafa);
  font-size: 48px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.sort__label {
  display: flex;
  align-items: center;
  gap: 4px;
  &:hover {
    cursor: pointer;
  }
}

.sort__popup {
  position: absolute;
  right: 100px;
  margin-top: 15px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  overflow: hidden;
  padding: 10px 0;
  width: 242px;
  z-index: 100;

  ul {
    //all: unset;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    li {
      //all: unset;
      padding: 12px 20px;
      cursor: pointer;

      &.active,
      &:hover {
        background: rgba(67, 67, 67, 0.05);
      }

      &.active {
        font-weight: bold;
        color: #3d3d3d;
      }
    }
  }
}

.container {
  width: 1320px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  background: var(--100, #f4f4f4);

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    button {
      all: unset;
      display: flex;
      align-items: center;
      gap: 8px;
      color: #575757;
      cursor: pointer;
      margin-bottom: 20px;

      /* Bold/Callout */
      font-size: 16px;
      font-family: Raleway;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: -0.051px;
      &:hover {
        color: #0b0b0b;
      }
    }
  }
  .items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3.9% 3.9%;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . ."
      ". . . ."
      ". . . .";
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;

    .item {
      position: relative;
      display: flex;
      width: 295px;
      height: 360px;
      padding-bottom: 0px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      background: #fff;

      .icon-favorite {
        position: absolute;
        right: 20px;
        top: 20px;
        &:hover {
          cursor: pointer;
        }
      }

      img {
        object-fit: cover;
        width: 255px;
        height: 255px;
      }

      .description {
        display: flex;
        padding: 0px 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        align-self: stretch;

        h4 {
          margin: 0;
          color: var(--black, #0b0b0b);

          /* Caption 1 */
          font-size: 16px;
          font-family: Raleway;
          font-style: normal;
          font-weight: 600;
          line-height: 120%;
        }

        p {
          margin: 0;
          color: var(--800, #575757);

          /* Caption 2 */
          font-size: 14px;
          font-family: Raleway;
          font-style: normal;
          font-weight: 600;
          line-height: 120%;
          letter-spacing: 0.01px;
        }

        h5 {
          margin: 0;
          color: var(--black, #0b0b0b);

          /* Callout */
          font-size: 20px;
          font-family: Prompt;
          font-style: normal;
          font-weight: 600;
          line-height: 21px;
          letter-spacing: -0.064px;
          font-variant-numeric: proportional-nums;
        }
      }
    }

    button {
      all: unset;
      display: flex;
      width: 295px;
      height: 48px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background: var(--900, #313131);
      color: var(--white, #fafafa);

      /* Bold/Callout */
      font-size: 16px;
      font-family: Raleway;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: -0.051px;
      &:hover {
        cursor: pointer;
        background: var(--900, #414141);
      }
    }
    .three-buttons {
      display: flex;
      gap: 8px;
      align-items: center;
      background-color: #fff;
    }
    .button-added {
      width: 148px;
    }
    .button-cart-item {
      all: unset;
      width: 48px;
      height: 48px;
      color: #313131;
      border: 1px solid var(--main-color, #464646);
      box-sizing: border-box;
      text-align: center;
      background: var(--900, #fff);
      cursor: pointer;
      &:disabled {
        background: var(--900, #e3e3e3);
        color: #b4b4b4;
        border: 1px solid var(--main-color, #e3e3e3);
      }
      &:hover {
        background-color: #fafafa;
      }
    }
    b {
      width: 24px;
      text-align: center;
    }
  }
}
.subscribe {
  display: flex;
  padding: 20px 100px;
  justify-content: space-between;
  align-items: center;
  background: var(--100, #f4f4f4);
  border-top: 1px solid var(--main-color, #464646);
  border-bottom: 1px solid var(--main-color, #464646);
  p {
    color: #000;

    /* Regular/H2 */
    font-size: 22px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 610px;
  }

  input {
    all: unset;
    border-bottom: 1px solid var(--main-color, #464646);
    color: var(--700, #000000);

    /* Regular/H2 */
    font-size: 22px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding: 10px;
  }

  button {
    all: unset;
    background: var(--900, #313131);
    width: 190px;
    height: 28px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: var(--white, #fafafa);
    margin-left: 20px;
    text-align: center;

    /* Bold/Callout */
    font-size: 16px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: -0.051px;
  }

  .subscribe-image {
    width: 505px;
    height: 336.667px;
    flex-shrink: 0;
  }
}

footer {
  padding: 20px 100px;
  background-color: #f4f4f4;
  display: flex;
  align-items: flex-start;
  gap: 66px;

  .logo {
    color: #000;
    font-size: 28px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 14px;
    margin: 0;
  }
  li {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  h4 {
    margin: 0;
  }

  ul {
    all: unset;
  }
}

.clean-cart {
  all: unset;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #575757;
  cursor: pointer;
  &:hover {
    color: #0b0b0b;
  }
}

.cart-items-total {
  display: flex;
  .total {
    background-color: #fff;
    padding: 12px;
    margin-left: 20px;
    width: 305px;
    h4 {
      color: #7e7e7e;
    }
    button {
      all: unset;
      width: 100%;
      background: var(--900, #313131);
      color: var(--white, #fafafa);
      display: flex;
      height: 48px;
      justify-content: center;
      align-items: center;

      /* Bold/Callout */
      font-size: 16px;
      font-family: Raleway;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: -0.051px;
      &:hover {
        cursor: pointer;
        background: var(--900, #414141);
      }
    }
  }
}

.cart-item-card {
  display: flex;
  border-bottom: 1px solid var(--main-color, #f4f4f4);
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  align-items: center;
  gap: 20px;
  background-color: #fff;
  padding: 12px 80px;
  b {
    width: 24px;
    text-align: center;
  }
  .text {
    display: flex;
    flex-direction: column;
    width: 320px;
    h4 {
      font-size: 20px;
      margin: 0;
    }
  }

  h5 {
    font-size: 24px;
    margin: 0;
    width: 80px;
    margin-left: 20px;
  }

  .remove {
    color: #b9b9b9;
    cursor: pointer;
    &:hover {
      color: #0b0b0b;
    }
  }
}

.empty-cart {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin: auto;
  img {
    width: 200px;
  }

  button {
    all: unset;
    width: 100%;
    background: var(--900, #313131);
    color: var(--white, #fafafa);
    display: flex;
    height: 48px;
    width: 295px;
    justify-content: center;
    align-items: center;

    /* Bold/Callout */
    font-size: 16px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: -0.051px;
    &:hover {
      cursor: pointer;
      background: var(--900, #414141);
    }
  }
}

.button-cart-item {
  all: unset;
  width: 32px;
  height: 32px;
  color: #f4f4f4;
  text-align: center;
  background: var(--900, #313131);
  cursor: pointer;
  &:disabled {
    background: var(--900, #b9b9b9);
    border: none;
  }
}

.back {
  button {
    all: unset;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #575757;
    cursor: pointer;

    /* Bold/Callout */
    font-size: 16px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: -0.051px;
    &:hover {
      color: #0b0b0b;
    }
  }
}

.full-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .full-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
  .full-description {
    .head {
      display: flex;
      justify-content: space-between;
      .icon-favorite {
        &:hover {
          cursor: pointer;
        }
      }
    }
    width: 600px;
    h3 {
      color: var(--900, #313131);

      /* Bold/H1 */
      font-size: 28px;
      font-family: Raleway;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
      margin: 0;
    }
    p {
      color: var(--900, #313131);

      /* Regular/Body */
      font-size: 17px;
      font-family: Raleway;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: -0.07px;
      margin: 0;
    }
    h2 {
      color: var(--900, #313131);

      /* user */
      font-size: 40px;
      font-family: Prompt;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: -0.88px;
      margin: 0;
      margin-bottom: 20px;
    }

    .desc {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      margin: 0;
      margin-bottom: 12px;
    }
    .text {
      color: var(--800, #575757);

      /* Regular/Body */
      font-size: 17px;
      font-family: Raleway;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: -0.07px;
      margin-bottom: 20px;
    }
    button {
      all: unset;
      display: flex;
      width: 295px;
      height: 48px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background: var(--900, #313131);
      color: var(--white, #fafafa);

      /* Bold/Callout */
      font-size: 16px;
      font-family: Raleway;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: -0.051px;
      &:hover {
        cursor: pointer;
        background: var(--900, #414141);
      }
    }
    .three-buttons {
      display: flex;
      gap: 8px;
      align-items: center;
    }
    .button-added {
      width: 148px;
    }
    .button-cart-item {
      all: unset;
      width: 48px;
      height: 48px;
      color: #313131;
      border: 1px solid var(--main-color, #464646);
      box-sizing: border-box;
      text-align: center;
      background: var(--900, #fff);
      cursor: pointer;
      &:disabled {
        background: var(--900, #e3e3e3);
        color: #b4b4b4;
        border: 1px solid var(--main-color, #e3e3e3);
      }
      &:hover {
        background-color: #fafafa;
      }
    }
    count {
      margin-bottom: 0;
      width: 24px;
      text-align: center;
    }
  }
}
